@{
    Layout = "~/Views/Store/_Layout.cshtml";
}
<div class="text-center m-4">
    <h2>Спасибо!</h2>
    <p>Спасибо за заказ!</p>
    <p>Мы свяжимся с Вами в ближайшее время.</p>
    <a asp-action="Index" asp-controller="Store" class="btn btn-primary">Ок</a>
</div>